# Variables, tipos y operaciones

- Enteros, flotantes, cadenas, booleanos.
- Operaciones entre tipos
- Nombres de variables

In [34]:
a=2 # Declaro (defino) el valor de la variable a

In [35]:
a

2

In [36]:
a+a+a+a+a

10

In [37]:
a*5

10

In [38]:
a * 5

10

In [51]:
a*a

4

In [52]:
type(a)

int

In [53]:
b=1.5

In [54]:
type(b)

float

In [55]:
B=2.5

In [56]:
print(b,B)

1.5 2.5

In [57]:
c='2'

In [58]:
type(c)

str

In [59]:
c

'2'

In [60]:
c+c+c+c+c

'22222'

In [61]:
c*5

'22222'

In [62]:
c*c

TypeError: can't multiply sequence by non-int of type 'str'

In [63]:
1<5

True

In [39]:
1 < 5

True

In [64]:
1<0

False

In [65]:
d=(1<5)

In [66]:
d

True

In [40]:
d = (1 < 5)

In [41]:
d

True

In [40]:
type(d)

bool

In [67]:
a*b

3.0

In [68]:
b*c

TypeError: can't multiply sequence by non-int of type 'float'

In [69]:
a*c

'22'

In [70]:
a*d

2

In [71]:
2*True

2

In [72]:
2*False

0

In [74]:
a<b

False

In [75]:
e=(a<b)

In [76]:
e

False

In [77]:
a==b # Son iguales?

False

In [78]:
a=b # Re-defino el valor de a, y le asigno el que tiene b

In [19]:
hoy='Martes'
print(hoy)
hoy='Miércoles'
print(hoy)
hoy='Jueves'
print(hoy)
hoy=3
print(hoy)

Martes
Miércoles
Jueves
3

In [20]:
hoy = "Viernes"
hoy = 32.5
hoy = 19
print(hoy)

19

¿Cómo podemos encontrar el tipo de una variable?

- (a) Usar la función `print()` para determinar el tipo mirando el resultado.
- (b) Usar la función `type()`.
- (c) Usarla en una expresión y usar `print()` sobre el resultado.
- (d) Mirar el lugar donde se declaró la variable.

Si `a="10"` y `b="Diez"`, se puede decir que `a` y `b`:

- (a) Son del mismo tipo.
- (b) Se pueden multiplicar.
- (c) Son iguales.
- (d) Son de tipos distintos.

## Operaciones entre tipos

In [1]:
int(3.14)

3

In [2]:
int(3.9999) # Redondea?

3

In [3]:
int(3.0)

3

In [7]:
int(3)

3

In [4]:
int("12")

12

In [5]:
int("doce")

ValueError: invalid literal for int() with base 10: 'doce'

In [8]:
float(3)

3.0

In [14]:
str(3)

'3'

In [15]:
str(3.0)

'3.0'

In [18]:
str(int(2.9999))

'2'

## Nombres de variables

In [21]:
hola=10

In [22]:
mi variable=10

SyntaxError: invalid syntax (<ipython-input-22-7011e3ff31cc>, line 1)

In [23]:
mi_variable=10

In [28]:
mi-variable=10

SyntaxError: can't assign to operator (<ipython-input-28-9c60e4a3c75f>, line 1)

In [30]:
mi.variable=10

NameError: name 'mi' is not defined

In [31]:
mi$variable=10

SyntaxError: invalid syntax (<ipython-input-31-c5e2d87076dd>, line 1)

In [24]:
variable_1=34

In [32]:
1_variable=34

SyntaxError: invalid syntax (<ipython-input-32-c7be287151a9>, line 1)

In [27]:
pi=3.1315

In [26]:
def=10

SyntaxError: invalid syntax (<ipython-input-26-8e33427376e8>, line 1)

Palabras (keywords) que Python no deja usar como nombres para variables:

```
and	as	assert	break	class	continue
def	del	elif	else	except	exec
finally	for	from	global	if	import
in	is	lambda	nonlocal	not	or
pass	raise	return	try	while	with
yield	True	False	None
```

<img src="mc.jpg">

- Adaptado de http://interactivepython.org/runestone/static/thinkcspy/index.html